<div class="w-full h-[92%] bg-zinc-900 flex justify-center items-center ">
    <div class="w-2/5 max-w-lg ">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" (ngSubmit)="onSubmit()" [formGroup]="userForm" >
            <p class=" text-center font-bold text-xl pb-6 ">Register</p>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              Username
            </label>
            <input name="username"  formControlName="username" id="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" placeholder="Username">
            <div *ngIf="formControls.username.invalid && formControls.username.touched">
                <div *ngIf="formControls.username.errors.required" class="text-xs text-red-500 ">*username is required</div>
            </div>
            <p *ngIf="usernameError" class="text-xs text-red-500">{{usernameError}}</p>
          </div>
          <div class="w-full flex gap-3 ">
            <div class="mb-4 w-full ">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                First name 
            </label>
            <input   formControlName="firstname"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  type="text" placeholder="Username">
            <div *ngIf="formControls.firstname.invalid && formControls.firstname.touched">
                <div *ngIf="formControls.firstname.errors.required" class="text-xs text-red-500 ">*firstname is required</div>
            </div>
            </div>
            <div class="mb-4 w-full">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                    Last name 
                </label>
                <input name="lastname" formControlName="lastname" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
                <div *ngIf="formControls.lastname.invalid && formControls.lastname.touched">
                    <div *ngIf="formControls.lastname.errors.required" class="text-xs text-red-500 ">*lastname is required</div>
                </div>
            </div>
          </div>
          <div class="mb-4  ">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                Email
            </label>
            <input name="email" formControlName="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="email" placeholder="Username">
            <div *ngIf="formControls.email.invalid && formControls.email.touched">
                <div *ngIf="formControls.email.errors.required" class="text-xs text-red-500 ">*email is required</div>
                <div *ngIf="formControls.email.errors.email" class="text-xs text-red-500 ">*enter a valid email</div>
            </div>
            </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
              Password
            </label>
            <input name="password" formControlName="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
            <div *ngIf="formControls.password.invalid && formControls.password.touched">
                <div *ngIf="formControls.password.errors.required" class="text-xs text-red-500 ">*password is required</div>
            </div>
          </div>
          <div class="flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
              Sign In
            </button>
         
          </div>
        </form>

        <div *ngFor="let user of users" class="text-white">{{user.username}}</div>

      </div>
</div>
