<form [formGroup]="loginForm" (ngSubmit)="onLogin()" >
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
      Username
    </label>
    <input formControlName="username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border focus:border-zinc-400" id="username" type="text" placeholder="Username">
    <p class="text-xs text-red-400  " *ngIf="userNotExistError">user does not exist</p>
    <p class="text-xs text-red-400  " *ngIf="notStaffError">user is not authenticated</p>
    <div *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched "  >
      <div  class="text-xs text-red-400  " *ngIf="loginForm.controls.username.errors">*username is required</div>
    </div>
  </div>
  <div class="mb-6">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
      Password
    </label>
    <input formControlName="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:border focus:border-zinc-400" id="password" type="password" placeholder="**********">
    <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched "  >
      <div  class="text-xs text-red-400  " *ngIf="loginForm.controls.password.errors">*password is required</div>
    </div>
    <p class="text-xs text-red-400  " *ngIf="wrongPasswordError">{{wrongPasswordError}}</p>
  </div>
  <div class="flex items-center justify-between">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none " type="submit">
      Sign In
    </button>
    <a routerLink="/login/forgot" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" >
      Forgot Password?
    </a>
  </div>
</form>