<div class=" flex justify-center items-center w-full h-[92%] ">

    <div class="py-8 w-3/4 text-white">
        <!-- Display Customer Balance -->
        <!-- <div *ngIf="customerDetails"-->
            <div>
                <div class="mb-4">Customer Balance: <!--{{ customerDetails.account.balance }}--></div>
            </div>
            
            <!-- Transaction Table -->
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th class="px-4 py-2">Username</th>
                        <th class="px-4 py-2">Amount</th>
                        <th class="px-4 py-2">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let transaction of transactions">
                        <td class="border px-4 py-2">{{ transaction.username }}</td>
                        <td class="border px-4 py-2">{{ transaction.amount }}</td>
                        <td class="border px-4 py-2">{{ transaction.time }}</td>
                    </tr> -->
                </tbody>
            </table>
            
            <!-- Transaction Form -->
            <div class="mt-4">
      <h3 class="text-lg font-semibold mb-2">Transaction Form</h3>
      <form >
        <div class="mb-2">
          <label for="username" class="block">Username:</label>
          <input type="text" id="username" name="username"  class="block w-full border px-4 py-2" />
        </div>
        <div class="mb-2">
            <label for="amount" class="block">Amount:</label>
            <input type="number" id="amount" name="amount"  class="block w-full border px-4 py-2" />
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">Submit Transaction</button>
    </form>
</div>
</div>
</div>

